[Unit]
Description=deis-mysql

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=20m
ExecStartPre=/bin/sh -c "IMAGE=`/run/deis/bin/get_image /deis/mysql` && docker history $IMAGE >/dev/null 2>&1 || flock -w 1200 /var/run/lock/mysql-pull docker pull $IMAGE"
ExecStartPre=/bin/sh -c "docker inspect deis-mysql >/dev/null 2>&1 && docker rm -f deis-mysql >/dev/null 2>&1 || true"
ExecStart=/bin/sh -c "IMAGE=`/run/deis/bin/get_image /deis/mysql` && docker run --name deis-mysql --rm -p 3306:3306 -e EXTERNAL_PORT=3306 -e HOST=$COREOS_PRIVATE_IPV4 $IMAGE"
ExecStop=-/usr/bin/docker stop deis-mysql
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
